*{
    font-size: 30px;
}
h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: 40px;
}
span{
    color: white;
    border: none;
    outline: none;
    font-size: 30px;
    margin-top: 10px;
    padding: 8px 15px;
    background: rgb(243, 168, 30);
  border-radius: 5px;
  display: inline-block;
   text-decoration: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span:hover{
    letter-spacing: 1px;
    transform: scale(1.0);
   box-shadow: 0px 10px 15px rgba(14, 0, 0, 0.884)
}
.dep{
    font-size: 20px;
 
    text-align: center;
}
.box{
    padding: 20px;
    opacity: 0.75;
    text-align: center;
    border-radius: 5px;
    background: #f0e3d5;
    box-shadow: 0px 5px 10px rgb(8, 3, 0);
    
}
.container{
    display: flex;
    gap: 21px;
    grid-template-columns: repeat(auto-fit);
}
.container2{
    display: flex;
    gap: 21px;
    margin-top: 21px;
}
.pop{
    color: white;
    border: none;
    outline: none;
    font-size: 30px;
    margin-top: 10px;
    padding: 8px 15px;
    background: rgb(243, 168, 30);
  border-radius: 5px;
  display: inline-block;
   text-decoration: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pop:hover{
    letter-spacing: 1px;
    transform: scale(1.0);
   box-shadow: 0px 10px 15px rgba(14, 0, 0, 0.884)
}